server {
  listen 80;
  server_name autolab.cse.buffalo.edu;
  root /home/app/webapp/public;
  passenger_enabled on;
  passenger_user app;
  passenger_ruby /usr/bin/ruby2.7;
  client_max_body_size 100M;

  # WARNING: Do not uncomment this in production.
  # Uncomment to run in development mode:
  #passenger_app_env development;
}
